@import '../../assets/styles/global.css';
@import '../../assets/styles/normalize.css';

.donate {
  position: relative;
  width: 100%;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.donate__foto {
  height: 390px;
  min-width: 100%;
  background: url('../../assets/images/Giant-Panda.png') center no-repeat;
  margin-bottom: 40px;
}
.donate {
  padding-bottom: 180px;
}
.donate__content {
  padding-top: 40px;
  margin: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}

.donate__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  letter-spacing: normal;
}
.donate__title-info {
  color: #fe9013;
  margin-bottom: 60px;
}
.donate__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 40px;
}

.donate__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #fe9013;
  margin: 40px 0 60px;
}
.feed {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 40px 60px 62px;
}

.feed__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  letter-spacing: 0em;
  text-align: center;
  color: #fe9013;
  margin-bottom: 20px;
}
.feed__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
  margin-right: 11px;
}
.feed__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.feed__number {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-bottom: 11px;
}

.feed__icon {
  height: 14px;
  width: 14px;
  left: 385px;
  top: 297px;
  border-radius: 0px;
  margin: 0 10px;
}
.feed__vidget {
  margin-left: 64px;
  width: 284px;
  height: 246px;
}
.feed__interactive {
}
.feed__linear {
  background: #404950;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 1px 30px;
}
.feed__linear::before {
  content: '';
  position: absolute;
  background: #72828e;
  height: 2px;
  width: calc(100% - 75px);
  left: 50%;
  transform: translateX(-50%);
}
.linear__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 48px;
  margin-bottom: 17px;
}
.linear__item {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.linear__input {
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.linear__label {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
}

.linear__input:checked ~ .linear__label::before{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fe9013;
}

.linear-sign {
  font-size: 24px;
}
.linear__decor {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ffee2e;
}

.linear__input:checked ~ .linear__decor::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fe9013;
}

.interactive__amount {
  margin-top: 108px;
  margin-bottom: 6px;
  width: 268px;
  height: 54px;
  background: transparent url(../../assets/icons/dollar.svg) 96% center no-repeat;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  border: 1px solid #929699;
  border-radius: 2px;
  padding-left: 9px;
  outline: none;
}

.interactive__radio {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.radio__item {
  margin: 0 30px;
}
.radio__input {
  z-index: 1000;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  opacity: 0;
}

.radio__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  position: relative;
}

.radio__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #FE9013;
  border-radius: 50%;
  transform: translate(-80%);
  top: 0;
  left: -10px;
}

.radio__input:checked ~ .radio__label::before{
  background: #fe9013;
}

.interactive__btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 300px;
  max-width: 100%;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0px;
  transition: 0.2s linear;
  display: block;
  margin: 0 auto;
}
.interactive__form {
  margin-top: 4px;
  text-align: center;
}
.interactive__amount {
  margin-top: 108px;
  margin-bottom: 20px;
  width: 268px;
  height: 54px;
  background: transparent url("../../assets/icons/dollar.svg") 96% center no-repeat;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  border: 1px solid #929699;
  border-radius: 2px;
  padding-left: 9px;
  outline: none;
}
.interactive__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
}

/*_______ Adaptive________ */
@media (max-width: 1000px) {
  .donate {
    padding-bottom: 30px;
  }
  .donate__text {
    margin-top: 30px;
  }
  .linear__item:first-child {
      display: none;
  }
  .linear__text {
    margin-top: 43px;
  }
  .feed {
    padding: 23px 0 45px;
  }
  .feed__content {
    margin: 60px 35px 0 0;
  }
  .feed__title {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .feed__text {
    font-size: 24px;
    margin-right: 4px;
  }
  .feed__content .feed__text {
    font-size: 16px;
    margin: 50px 0px 0 20px;
  }
  .feed__linear {
    padding: 0;
  }
  .linear__label {
    top: 40px;
    left: 25px;
  }
  .linear__input:checked ~
  .linear__label::before {
    top: -70%;
    left: 16px;
  }
  .feed__icon {
    margin: 20px 0 0 10px;
  }
  .feed__interactive {
    margin: 0 35px;
  }
  .interactive__amount {
    margin: 98px 0 26px;
  }
  .interactive__radio {
    margin-bottom: 27px;
  }
  .donate__subtitle{
    margin: 40px 0;
  }
}
@media (max-width: 890px) {
  .donate {
      padding-bottom: 46px;
  }
  .feed {
    padding: 26px 0 29px;
  }
  .feed .container {
    padding: 0;
  }
  .feed__content {
      margin-top: 90px;
  }
  .donate__foto {
    background: url("../../assets/images/panda_bgdonate.png") 35% / cover no-repeat;
    height: 369px;
    margin-bottom: 30px;
  }
  .donate__title {
      font-size: 24px;
      line-height: 120%;
  }
  .donate__text {
      margin: 20px 0px 30px;
      font-weight: 400;
  }
  .donate__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 130%;
      margin: 30px 0;
  }
  .feed__interactive {
    max-width: 100%;
  }
  .feed__title {
    margin-bottom: 20px;
  }
  .feed__text {
      text-align: center;
      max-width: 600px;
  }
  .linear__text {
      margin: 40px 0px 10px 10px;
  }
  .linear__item:nth-child(2),
  .linear__item:nth-child(3) {
      display: none;
  }
  .donate__another {
      margin: 82px 0px 40px 10px;
  }
  .donate__period {
      margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
  .feed__content {
    justify-content: center;
    padding: 0 20px 0 20px;
  }
  .feed__content .feed__text {
    font-size: 16px;
    margin-top: 30px;
  }
  .feed__text {
    font-size: 24px;
  }
  .feed__vidget {
    height: 198px;
    width: 268px;
    margin:0 30px 0 54px;
  }
  .feed__interactive {
    margin: 0;
  }
  .feed__linear {
    padding: 0 28px;
  }
  .linear__label {
    top: 37px;
    left: 19px;
  }
  .interactive__amount {
    height: 42px;
    width: 180px;
    margin-top: 94px;
  }
  .interactive__radio {
    margin-bottom: 33px;
  }
  .radio__item {
    margin:0 35px 0 10px;
  }
}

@media (max-width: 580px) {
  .donate {
    margin-top: 30px;
  }
  .donate__foto {
    height: 190px;
  }
  .donate__title-info {
      font-size: 24px;
      line-height: 120%;
  }
  .feed__content {
    margin: 50px 15px 0;
  }
  .feed__title {
      font-size: 24px;
      margin-bottom: 0;
  }
  .feed__text {
      font-size: 16px;
      line-height: 140%;
      margin: 0 10px 0 15px;
  }
  .feed__content .feed__text {
      font-size: 10px;
      line-height: 140%;
  }
  .feed__number {
      font-size: 40px;
      line-height: 80%;
  }
  .feed__vidget {
    margin: 0;
  }
  .feed__icon {
      width: 8px;
      height: 8px;
  }
  .donate__range {
      padding: 0px 17px;
  }
  .interactive__amount {
      margin: 70px 0px 30px;
      width: 180px;
      height: 42px;
  }
}

@media (max-width: 490px) {
  .container {
    padding: 0 10px;
  }
  .donate {
    padding-bottom: 20px;
  }
  .donate__text {
    margin-bottom: 26px;
  }
  .donate__subtitle {
    margin: 26px 0;
  }
  .feed {
    padding: 10px;
  }
  .feed__content {
    margin: 36px 0 0;
  }
  .feed__vidget {
    margin-left: 0;
  }
  .feed__icon {
    margin: 0 36px;
  }
  .feed__text {
    margin: 0;
    text-align: center;
  }
  .linear__label {
    font-size: 13px;
  }
  .linear-sign {
    font-size: 13px;
  }
  .linear__input {
    width: 20px;
    height: 20px;
  }
  .linear__input:checked ~ .linear__label::before {
    top: -22px;
  }
  .linear__decor {
    width: 5px;
    height: 5px;
  }
  .interactive__amount {
    margin: 46px 0 22px;
  }
  .interactive__radio {
    justify-content: space-around;
  }
  .radio__item {
    height: 22px;
  }
  .radio__input {
    margin: 0;
  }
}
@media (max-width: 410px) {
  .feed__icon{
    margin: 0 5px;
  }
  .feed__vidget {
    height: 112px;
    width: 151px;
  }
  .interactive__text {
    font-size: 15px;
  }
  .donate__subtitle {
    font-size: 24px;
  }
  .feed__interactive {
    margin: 0;
  }
  .feed__linear {
    padding: 0 16px;
  }
  .feed__linear::before {
    width: calc( 100% - 46px );
  }
  .interactive__radio {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .feed {
    padding: 0 0 22px;
  }
  .feed__title {
    font-size: 24px;
    line-height: 28px;
    padding: 23px 0 7px 7px;
  }
  .feed__text {
    margin: 0px 0px 0 0px;
  } 
  .feed__content {
    padding: 4px 0 0px 0;
    margin: 0;
    justify-content: left;
  }
  .feed__content .feed__text {
    margin: 44px 0 0 0;
    white-space: nowrap;
  } 
  .feed__content .feed__vidget {
    padding: 0 0 0 20px;
    width: 180px;
    height: 150px;
  } 
  .feed__content .feed__icon {
    margin: 0px;
    margin-right: 15px;
  } 
  .feed__content .feed__icon img {
    width: 8px;
  } 
  .feed__interactive .linear__text {
    margin: 0px 0px 10px 0px
  } 
  .feed__linear {
    height: 13.5px;
  }
  .linear__label{
    top: 22px;
    left: 17px;
  }
  .interactive__amount{
    padding: 0;
  }
  .interactive__radio {
    margin-bottom: 27px;
  }
  .radio__item {
    margin: 0 35px 0 19px;
  }
  .linear__input:checked ~ .linear__label::before {
    top: -13px;
    left: 10px;
  }
  .interactive__text {
    
  }
} 