*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f3f2;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1220px;
  width: 100%;
}
.btn {
  transition: 0.2s linear;
  outline: none;
  border: none;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  padding: 0;
  width: 298px;
  max-width: 100%;
  height: 54px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 5px #8b8b8b;
  font-size: 17px;
}
.btn:active {
  background: #4b9200;
}

/* ===== header ===== */
.header {
  position: relative;
  z-index: 10;
  background-color: #000000;
}
.header__content {
  display: flex;
  align-items: center;
}
.logo {
  position: relative;
  margin: 14px 63px 14px 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 86px;
}
.logo__text {
  padding: 2px 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
}
.logo__link {
  color: #ffffff;
  text-decoration: none;
}
.logo::before {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1000;
  background-image: url('../../assets/icons/bamboo.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: '';
}
.nav__link {
  transition: 0.1s linear;
  margin-left: 58px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
.nav__link:first-child {
  margin-left: 0;
}
.header__nav {
  width: 100%;
}
.header__nav .nav__link:last-child {
  float: right;
}
.nav__link:hover {
  color: #fe9013;
}
.nav__link:active {
  color: #4b9200;
}
.nav__link-current {
  color: #f9804b;
}

.header__burger {
  display: none;
  height: 2px;
  width: 18px;
  top: 15px;
  right: 11px;
  border-radius: 2px;
  position: absolute;
  cursor: pointer;
}
.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 100%;
  left: 0px;
  border-radius: 2px;
}
.header__burger::before {
  top: -300%;
}
.header__burger::after {
  top: 300%;
}
.header__burger-active {
  background: rgba(223, 21, 21, 0);
}
.header__burger-active::before {
  transform: rotate(45deg);
  top: 0;
}
.header__burger-active::after {
  transform: rotate(-45deg);
  top: 0;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(34, 33, 33, 0.7);
  z-index: 1000;
  display: none;
}
body.has-overlay {
  overflow: hidden;
}
body.has-overlay .overlay {
  display: block;
}

/* ===== footer ===== */

.footer {
  background: #111115;
  padding: 40px 0 50px;
}
.footer__inner {
  display: flex;
  position: relative;
  flex-direction: column;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end;
}
.footer__btn {
  margin: 68px 0 44px;
  border-radius: 5px;
}
.soc__item {
  margin-bottom: 10px;
}
.soc__item:last-child {
  margin-bottom: 0;
}
.soc__link {
  display: inline-block;
  position: relative;
  transition: 0.1s linear;
  padding-top: 4px;
  padding-left: 38px;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
}
.soc__link::before {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  content: '';
}
.soc__link-facebook::before {
  background: rgba(196, 196, 196, 0.5) url('../../assets/icons/facebook.svg')
    center no-repeat;
}
.soc__link-twitter::before {
  background: rgba(196, 196, 196, 0.5) url('../../assets/icons/twitter.svg')
    center no-repeat;
}
.soc__link-instagram::before {
  background: rgba(196, 196, 196, 0.5) url('../../assets/icons/instagram.svg')
    center no-repeat;
}
.soc__link-youtube::before {
  background: rgba(196, 196, 196, 0.5) url('../../assets/icons/youTube.svg')
    center no-repeat;
}
.soc__link:hover {
  color: #f9804b;
}
.soc__link:hover::before {
  background-color: #fe9013;
}
.soc__link:active {
  color: #4b9200;
}
.soc__link:active::before {
  background-color: #4b9200;
}
.footer__title {
  margin-bottom: 14px;
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}
.footer__links {
  align-self: flex-end;
  margin-left: 25px;
}
.footer__link {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
}

.footer__nav .nav__link {
  padding: 0 8px;
}
.footer__nav .nav__link:last-child {
  padding-right: 150px;
  padding-left: 8px;
}
.footer__link:hover {
  color: #fe9013;
}
.footer__link:active {
  color: #4b9200;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.email__field {
  outline: none;
  border: 1px solid #fe9013;
  border-radius: 2px;
  background-color: transparent;
  padding-left: 10px;
  width: 228px;
  height: 42px;
  color: #bdbdbd;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}
.email__btn {
  margin-left: 10px;
  outline: none;
  border: 1px solid #333b41;
  border-radius: 5px;
  background: #f1f3f2;
  width: 130px;
  height: 42px;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}
.email__btn:hover,
.email__field:hover {
  cursor: pointer;
}
.email__btn:active {
  border: 1px solid #4b9200;
  color: #4b9200;
}
.email__field:focus:invalid {
  border: 1px solid #d31414;
  color: #d31414;
}
.email__field:focus:invalid + .email__btn {
  border: 1px solid #d31414;
  color: #d31414;
}

/*----------- Adaptive Header ---------*/
@media (max-width: 1000px) {
  .nav__link {
    margin-left: 3rem;
    font-weight: 500;
    line-height: 22px;
  }
  .header__nav .nav__link:last-child {
    margin-right: 0;
  }
}
@media (max-width: 840px) {
  .header__nav.active {
    display: flex;
    position: absolute;
    top: 53px;
    left: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 270px;
    z-index: 2000;
  }
  .header__nav.active .nav__link {
    margin: 10px 0 10px 10px;
    color: #000000;
  }
  .header__nav.active .header {
    background-color: #ffffff;
  }
  .header__nav.active .nav__link-current {
    color: #f9804b;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    height: 34px;
  }
  .header__burger {
    display: inline-block;
  }
  .header__inner {
    justify-content: space-between;
  }
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .header__logo {
    max-width: 46.86px;
    font-size: 12px;
    border: none;
    margin: 0px;
  }
  .header__logo::before {
    top: 0;
    left: 0;
  }
  .logo__text {
    font-size: 12px;
  }
  .burger-open .header {
    background: #ffffff;
    z-index: 2001;
  }
  .burger-open .header__logo {
    border: 2px solid #fe9013;
    max-width: 65.6px;
    height: 41.6px;
    margin-top: 10px;
  }
  .burger-open .header {
    height: 54px;
  }
  .burger-open .header .container {
    padding: 0 10px;
  }
  .burger-open .logo__link {
    color: #fe9013;
    z-index: 2001;
  }
  .burger-open .header__burger-active::before,
  .burger-open .header__burger-active::after {
    background: #000000;
    z-index: 2001;
  }
  .burger-open .header__logo::before {
    background-image: url('../images_adaptive/bamboo.svg');
  }
}
@media (max-width: 320px) {
  .header__logo {
    width: 47px;
  }
  .logo__text {
    font-size: 12px;
  }
  .logo::before {
    top: 10px;
    left: 20px;
  }
}
/* ------------Adaptive footer ---------- */

@media (max-width: 1200px) {
  .footer__nav {
    justify-content: center;
    margin-left: 85px;
  }
  .footer__nav .nav__link:last-child {
    padding: 0;
  }
  .nav__link {
    margin: 0 22px;
  }
  .footer__logo {
    margin: 0;
    height: 52px;
  }
  .footer__email {
    margin-right: 28px;
  }
  .footer__btn {
    margin-top: 36px;
  }
}
@media (max-width: 1000px) {
  .footer__nav {
    margin-left: 95px;
  }
  .footer__nav .nav__link {
    margin: 0 20px;
  }
}
@media (max-width: 840px) {
  .footer {
    padding: 15px 0px 12px;
  }
  .footer__logo .logo__text {
    font-size: 19px;
  }
  .footer .container {
    padding: 0px 20px;
    max-width: 980px;
  }
  .footer__soc {
    position: absolute;
    top: -11px;
    right: 0px;
  }
  .footer__email {
    display: none;
  }
  .social__link {
    font-size: 0px;
  }
  .social__link::before {
    left: 12px;
  }
  .social__item {
    margin-bottom: 30px;
  }
  .footer__nav {
    justify-content: space-between;
  }
  .footer__nav .nav__link:last-child {
    margin: 0;
    padding: 0;
  }
  .footer__nav .nav__link {
    margin-left: 0px;
  }
  .footer__links {
    margin-left: 73px;
  }
  .footer__btn {
    margin-top: 32px;
    margin-bottom: 67px;
  }
  .footer__logo {
    margin: 0px;
  }
}

@media (max-width: 720px) {
  .soc__link {
    font-size: 0;
    margin-bottom: 25px;
  }
  .footer__nav {
    margin-left: 0;
  }
  .footer__nav .nav__link {
    padding: 0;
  }
  .soc__item {
    margin-right: -10px;
  }
}

@media (max-width: 570px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 20px 0px 30px;
  }
  .footer__inner {
    align-items: center;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    width: 136px;
    border: none;
    margin-bottom: 85px;
  }
  .footer__logo::before {
    content: '';
    position: absolute;
    background-image: url('../icons/bamboo.svg');
    background-repeat: no-repeat;
    top: -3px;
    left: 75px;
    height: 20px;
    width: 20px;
    z-index: 1000;
  }
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .footer__btn {
    margin: 0 auto 30px;
  }
  .footer__links {
    margin-bottom: 27px;
    margin-left: 0px;
  }
  .footer__nav {
    width: 100%;
    justify-content: space-between;
  }
  .footer__nav > .nav__link {
    font-weight: normal;
    margin: 0;
  }
  .footer__nav > .nav__link:last-child {
    margin-right: 0px;
  }
  .footer__soc {
    display: flex;
    justify-content: center;
    top: 47px;
    right: 47%;
    transform: translateX(50%);
  }
  .soc__item {
    margin-bottom: 0px;
    margin: 0 10px;
  }
  .footer__title {
    text-align: center;
  }
}

@media (max-width: 370px) {
  .footer__top {
    height: 100px;
  }
  .footer__btn {
    width: 298px;
    height: 54px;
    margin-top: 10px;
  }
  .footer .container {
    padding: 0 10px;
  }
}
