* {
  margin: 0;
  border: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
}
.header__buttons {
  margin: 50px auto 20px;
  display: flex;
  justify-content: center;
}
.btn {
  max-height: 55px;
  width: 107px;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(244, 228, 208);
  margin-left: 10px;
  border: 2px solid rgb(241, 185, 117);
  border-radius: 5px;
}
.buttons__shuffle {
}
.buttons__stop {
}
.buttons__save {
}
.buttons__results {
}

.area__count {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 1.8rem;
  color: rgb(56, 54, 54);
}
.count__moves {
  margin-right: 30px;
}
.moves__title {
}
.moves__number {
}
.count__times {
}
.times__title {
}
.times__number {
}
.area__field {
  width: 450px;
  min-height: 350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background: rgb(244, 228, 208);
  position: relative;
}
.cell-empty,
.field__cell {
  border: 2px solid rgb(241, 185, 117);
  background-color: rgb(241 236 245);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1rem;
  cursor: pointer;
  transition: all 0.8s ease 0s;
}
.cell-empty {
  background-color: rgb(252, 252, 235);
  cursor: auto;
}
.field__cell.move__left {
  transform: translateX(100%);
}
.field__cell.move__right {
  transform: translateX(-100%);
}
.field__cell.move__top {
  transform: translateY(-100%);
}
.field__cell.move__bottom {
  transform: translateY(100%);
}
.area__sizes {
  margin: 20px;
  padding: 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.size__current {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: rgb(56, 54, 54);
}
.btn__audio {
  margin-left: 110px;
  height: 35px;
  padding: 3px 5px 10px;
  width: 45px;
  border-radius: 20px;
  background-color: rgb(198, 117, 242);
}
.btn__audio.active,
.btn__audio:hover {
  background-color: rgb(237, 219, 243);
}
.current__title {
}
.current__value {
}
.sizes__title {
  font-size: 1.8rem;
  color: rgb(56, 54, 54);
  margin-bottom: 10px;
}
.sizes__links {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}
.sizes__link {
  text-decoration: underline;
  margin: 0 5px;
  font-size: 1.5rem;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 214, 156, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup__content {
  background-color: rgb(246, 239, 239);
  max-width: 300px;
  min-height: 180px;
  padding: 30px;
  font-size: 24px;
  position: relative;
  text-align: center;
  line-height: 2rem;
  color: rgba(23, 22, 22, 0.8);
}
.popup__close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: rgba(246, 114, 90, 0.8);
  cursor: pointer;
}

.popup__text {
}

@media (max-width: 780px) {
  .header__buttons {
    margin: 30px 0 10px;
  }
  .btn {
    max-height: 45px;
    width: 70px;
    font-size: 16px;
  }
  .area__field {
    width: 300px;
    min-height: 200px;
  }
  .cell-empty,
  .field__cell {
    font-size: 24px;
    padding: 1rem 0;
  }
  .area__sizes {
    margin: 10px;
  }
  .sizes__title,
  .size__current {
    margin-bottom: 3px;
    font-size: 20px;
  }
  .sizes__link {
    font-size: 16px;
  }
  .btn__audio {
    height: 30px;
    width: 45px;
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  .header__buttons {
    margin: 30px 90px 10px;
    flex-wrap: wrap;
  }
  .btn {
    padding: 3px 5px 3px;
    margin-left: 5px;
    flex: 0 1 33%;
    min-width: 120px;
    margin-bottom: 3px;
  }
  .area__field {
    width: 240px;
    min-height: 200px;
  }
  .cell-empty,
  .field__cell {
    font-size: 18px;
    padding: 0.5rem 0;
  }
  .area__count {
    font-size: 16px;
    margin: 10px auto;
  }
  .area__sizes {
    margin: 10px;
    font-size: 14px;
  }
  .sizes__link,
  .sizes__title,
  .size__current {
    margin-bottom: 3px;
    font-size: 12px;
  }
  .btn__audio {
    height: 20px;
    font-size: 8px;
    padding-top: 5px;
  }
}
@media (max-width: 430px) {
  .header__buttons {
    margin: 30px 35px 10px;
  }
}
